<main
  class="flex items-center justify-center bg-very-dark-blue w-full h-dvh font-Overpass"
>
  <div
    class="p-10 py-9 bg-dark-blue w-[25rem] rounded-[2rem] [&>*]:flex [&>*]:flex-col [&>*]:items-center [&>*]:justify-center [&>*]:gap-7"
  >
    <app-rating
      *ngIf="!isSubmitted"
      (selectedRateEvent)="addSelectedRate($event)"
      [selectedRate]="selectedRate"
      [ratings]="ratings"
      (submittedEvent)="onSubmitRate()"
    />

    <app-submitted
      *ngIf="isSubmitted"
      [numOfRates]="ratings.length"
      [selectedRate]="selectedRate"
    />
  </div>
</main>
